Integers

In [5]:
# Integer variables
num1 = 10
num2 = 2

In [6]:
# Basic Arithmetic
result1 = num1 + num2
print("Addition:", result1)

Addition: 12

In [7]:
# Basic Arithmetic
result1 = num1 - num2
print("Substraction:", result1)

Substraction: 8

In [8]:
# Basic Arithmetic
result1 = num1 * num2
print("Multiplication:", result1)

Multiplication: 20

In [9]:
num1 = 2
num2 = 10
result1 = num1 ** num2
print("Exponentation:", result1)

Exponentation: 1024

In [10]:
# Division
result1 = num1 / num2
print("Division:", result1)

Division: 0.2

In [11]:
# Floor Division: quotient
num1 = 100
num2 = 20

result1 = num1 // num2
print("Floor Division:", result1)

Floor Division: 5

In [12]:
# Modulus (Remainder)
result2 = num1 % num2
print("Modulus (Remainder):", result2)

Modulus (Remainder): 0

In [13]:
# Absolute Value: Value will be positive, if the input is a negative value
result3 = abs(-7)
print("Absolute Value:", result3)

result3 = abs(7)
print("Absolute Value:", result3)

Absolute Value: 7
Absolute Value: 7

In [14]:
# BODMAS or DMAS
result = 5 + 3 * 2

# Multiplication has higher precedence, so result is 11, not 16
print(result)

11

In [15]:
result = (5 + 3) * 2
print(result)

16

In [ ]:
Float variables

In [ ]:
# Float variables
num1 = 5.0
num2 = 2.0

# Basic Arithmetic
result1 = num1 + num2
print("Addition:", result1)

In [ ]:
result2 = num1 - num2
print("Subtraction:", result2)

In [ ]:
# Float variables
num1 = 5.0
num2 = 2

# Basic Arithmetic
result1 = num1 + num2
print("Addition:", result1)

In [ ]:
result3 = num1 * num2
print("Multiplication:", result3)

In [ ]:
result4 = num1 / num2
print("Division:", result4)

In [ ]:
# Rounding
result5 = round(3.14159265359, 2)  # Rounds to 2 decimal places
print("Rounded:", result5)

In [ ]:
result5 = round(3.14659265359, 2)  # Rounds to 2 decimal places
print("Rounded:", result5)

In [ ]:
Assignment Operators

In [ ]:
num1 = 10
num2 = 2

# Addition Assignment
num1 += num2 # num1 = num1 + num2
print(num1)

In [ ]:
num1 = 10
num2 = 2

# Subtraction Assignment
num1 -= num2
print(num1)

In [ ]:
num1 = 10
num2 = 2

# Multiplication Assignment
num1 *= num2
print(num1)

In [ ]:
num1 = 10
num2 = 2

# Division Assignment 
num1 /= num2
print(num1)

In [ ]:
num1 = 10
num2 = 2

# Floor Division Assignment
num1 //= num2
print(num1)

In [ ]:
num1 = 10
num2 = 2

# Modulus Assignment
num1 %= num2
print(num1)

In [ ]:
num1 = 10
num2 = 2

# Exponentiation Assignment
num1 **= num2
print(num1)

In [ ]:
Bitwise Operators

In [ ]:
1.Bitwise AND (&)
2.Bitwise OR (|)
3.Bitwise XOR (^)
4.Bitwise NOT (~)
5.Left Shift (<<)
6.Right Shift (>>)

In [ ]:
a = 5  # Binary: 0101
b = 3  # Binary: 0011
result = a & b  # Result: 0001 (Decimal: 1)
print(result)

In [ ]:
x = 10  # Binary: 1010
y = 7   # Binary: 0111
result = x | y  # Result: 1111 (Decimal: 15)
print(result)

In [ ]:

Identity Operators

In [ ]:
x = [1, 2, 3] # list
y = x  # y now refers to the same object as x
result = x is y # result will be True
print(result)

In [ ]:
x = [1, 2, 3]
print(id(x))

y = x
print(y)
print(id(y))

In [ ]:
a = "hello"
print(id(a))
b = "world"
print(id(b))
result = a is not b # result will be True
print(result)

In [ ]:
Logical operators

In [ ]:
x = True
y = False
result = x and y # result will be False
print(result)

In [ ]:
a = True
b = False
result = a or b # result will be True
print(result)

In [ ]:
Relational Operators

==, !=, >, >=, <, <=

In [ ]:
a = 5
b = 5
result = a == b # result will be True
print(result)

In [ ]:
a = 5
b = 5
result = a != b # result will be False
print(result)